In [3]:
import pandas as pd

In [1]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [4]:
df=pd.read_csv('cleaned_data.csv')

In [5]:
df.head()

,Unnamed: 0,Category,Confidence,Cleaned_Tweets
0,631,0,1.0000,migrating from iphoto to photo is a catastrop...
1,9364,1,0.5988,i call it a little bit of your blizzard
2,1841,0,1.0000,13 reasons why we love women in the military ...
3,3482,1,1.0000,3novices renison mine sees seismic event a s...
4,252,0,1.0000,star wars power of the jedi collection 1 battl...

In [7]:
df=df.drop(['Unnamed: 0'],axis=1)

In [8]:
df.head()

   Category  Confidence                                     Cleaned_Tweets
0         0      1.0000   migrating from iphoto to photo is a catastrop...
1         1      0.5988            i call it a little bit of your blizzard
2         0      1.0000  13 reasons why we love women in the military  ...
3         1      1.0000  3novices  renison mine sees seismic event  a s...
4         0      1.0000  star wars power of the jedi collection 1 battl...

In [22]:
doc=nlp(df['Cleaned_Tweets'][10])

In [23]:
doc

please pray for employees  residents and first responders  myhometown livesmatter

In [26]:
for token in doc:
    print(f'{token.text:{10}} {token.pos_:{8}} {token.tag_:{6}} {spacy.explain(token.tag_)}')

please     INTJ     UH     interjection
pray       VERB     VB     verb, base form
for        ADP      IN     conjunction, subordinating or preposition
employees  NOUN     NNS    noun, plural
           SPACE    _SP    whitespace
residents  NOUN     NNS    noun, plural
and        CCONJ    CC     conjunction, coordinating
first      ADJ      JJ     adjective (English), other noun-modifier (Chinese)
responders NOUN     NNS    noun, plural
           SPACE    _SP    whitespace
myhometown PROPN    NNP    noun, proper singular
livesmatter NOUN     NN     noun, singular or mass

In [27]:
def show_ents(doc):
    if doc.ents:
        for i in doc.ents:
            print(i.text+' - '+i.label_+' - '+str(spacy.explain(i.label_)))
    else:
        print('No NAmed entities.')

In [28]:
show_ents(doc)

first - ORDINAL - "first", "second", etc.